body{
    margin:0;
    font-size: 0;
}
body *{
    font-size: 20px;
}
footer{
    color:red;
    height: 200px;
    background-color: slategray;
}
section{
    display: inline-block;
    width:80%;
     height: 400px;
     background-color: saddlebrown;
}
aside{
    display: inline-block;
    width: 20%;
    height: 400px;
    background-color: blueviolet;
}
header{
    height: 200px;
    background-color: royalblue;
}

h1{
    background-color: greenyellow;
    display: inline-block;
    margin: 20px 10px 30px 50px;
    padding: 5px 10px;
    border-left: 5px;
    border-top:10px;
    border-right: 0px;
    margin-left: 0px !important;
    border-style: solid;
    border-radius: 5px;
}