body{
    margin:0;
    font-size: 0;
}body *{
    font-size: 20px;
}
.menuPrincipal ul li{
    float:left;
    padding: 10px;
    background-color: darkorange;
}
.menuPrincipal ul{
    list-style-type: none;
    padding: 0;
}
.menuPrincipal *{
    overflow: hidden;
}